.slick-dots {
  top: 570px;
  display: flex !important;
  column-gap: 8px;
  justify-content: center;
}

.slick-dots li {
  background-color: #80b500;
  border-radius: 50%;
  height: 13px !important;
  width: 13px !important;
  border: 2px solid white;
}

.slick-dots li.slick-active {
  transform: scale(1.4);
  border: none;
  margin-bottom: 10px;
}

.slick-dots li button::before {
  content: "" !important;
}